/*Base styles */
* {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

/* Base colors */
:root {
  --primary: #17594a;
  --secondary: #8eac50;
  --tertiary: #d3d04f;
  --alternate: #213363;
}

@import url("https://fonts.googleapis.com/css?family=Raleway&display=swap");

body {
  font-family: Raleway, sans-serif;
}
